
body{
    margin:0 auto;
}
.icons{
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}
.icons img{
  width: 40px;
  margin: 20px;
}
.menuM{
  position: relative;
  width:100%;
  top: 0%;
  background-color: white;
}
.discount{
  width: 100%;
  background-color: #ff9aa2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.menu{
  display: flex;
  justify-content: flex-end;
 
}
.logoS img{
  width: 200px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -25px 0 0 -25px
  
}

.icons1{
  margin: 20px;
}
.icons1 img{
  width: 30px; 
  height: 30px; 
  margin-left: 10px; 
  margin-top: 20px;
} 

.menu1{
  margin-top: 15px;
  padding-bottom: 15px;
}
.menu1 ul{
  align-items: center;
  display: flex;
  justify-content:center;
  list-style-type: none;
  padding: 0;
}

.menu1 a{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.menu1 a:hover{
  color: #ff9aa2;
}

.back{

    background-image: url(images/f15.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 150px;
    max-height: 800px;
  }
  .header{
    background-color: #ff9aa2;
    margin-left: 50%;
    text-align:left;
    white-space:pre-wrap;
    width: 400px;
    height: 400px;
    color: #003f63;
    font-style: bold;
    border-top-left-radius: 100%;
    
  }
  .fon{
    padding: 10px 0px;
    margin-left: -10%;
    margin-right: 10%;
    border:1px solid;
    
  }
  #one{
    font-size: 35px;
    font-weight: 1000;
    margin: 0;
  }
  #second{
    font-weight: 500;
    font-size: 25px;
    margin: 0;
  }
.container {
    margin: auto;
    display: flex;
    width: 90%;
    padding: 4% 2%;
    
  }
  
  .box {
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 100%;
    height: calc(100% - 10vh); 
    object-fit: cover; /*set image full*/
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    background-color: #ff9aa2;
    color: #003f63;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
  }
  
  /* .box:hover { flex: 1 1 10%; } */
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
  .footer{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
  }
  .p1{
    font-weight: 700;
  }
  .end{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .icons{
    display: flex;
    justify-content: center;
  }
  .t2{
    text-align: center;
    margin-top: 10px;
  }
  @media screen and (max-width: 1300px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    .header{
      width: 500PX;
      height: 500PX;
    }
    .fon{
      padding: 5px 10px;
    }
    #one{
      font-size: 50px;
      font-weight: 1000;
    }
    #second{
      font-weight: 500;
      font-size: 30px;
    }

  }
  @media screen and (max-width: 1000px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    .header{
      width: 350PX;
      height: 300PX;
    }
    .fon{
      padding: 5px 10px;
    }
    #one{
      font-size: 20px;
      font-weight: 1000;
    }
    #second{
      font-weight: 500;
      font-size: 15px;
    }

  }
  @media screen and (max-width: 800px) {
  .footer{
    display: flex;
    justify-content: space-between;
    
    margin-left: 100px;
    margin-right: 100px;
    font-size: 10px;
    flex-wrap: wrap;
    
  }
  .menu1 a{
    font-size: 10px;
    margin: 10px; 
    padding: 0;
  }
  .box > span {
    font-size: 2vh;
   
  }
  
}
  @media screen and (max-width: 500px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    .container{
     
      height: 50vh;
    }
    .back{
      background-size: 100%;
    }
    .header{
      width: 250PX;
      height: 250PX;
    }
    .fon{
      padding: 0px 0px;
    }
    #one{
      font-size: 20px;
      font-weight: 1000;
    }
    #second{
      font-weight: 500;
      font-size: 15px;
    }
    .discount{
      font-size: 12px;
      padding: 8px;
    }
    .logoS img{
      left: 40%;
      top: 45%;
      width: 150px;
    }
    .icons1{
      margin: 10px;
    }
    .icons1 img{
      width: 25px; 
      height: 25px; 
      margin-left: 10px; 
      margin-top: 20px;
    } 
    .icons img{
      width: 25px;
      margin: 10px;
     }
     .t2{
      font-size: 12px;
     }

    
  }