*{
    margin: 0,auto;
}
body{
  background-color: #FFF5FD;
  margin: 0 auto;
}
.icons{
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}
.icons img{
  width: 40px;
  margin: 20px;
}
.menuM{
  position: relative;
  width:100%;
  top: 0%;
  background-color: white;
}
.discount{
  width: 100%;
  background-color: #ff9aa2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.menu{
  display: flex;
  justify-content: flex-end;
 
}
.logoS img{
  width: 200px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -25px 0 0 -25px
  
}

.icons1{
  margin: 20px;
}
.icons1 img{
  width: 30px; 
  height: 30px; 
  margin-left: 10px; 
  margin-top: 20px;
} 

.menu1{
  margin-top: 15px;
  padding-bottom: 15px;
}
.menu1 ul{
  align-items: center;
  display: flex;
  justify-content:center;
  list-style-type: none;
  padding: 0;
}
.menu1 a{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.menu1 a:hover{
  color: #ff9aa2;
}
img{
  height: auto;
}
.back{
  background-color: #ff9aa2;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 150px;
  max-height: 800px;
  
}
.header{
  background-image: url(images/f15.jpg);
  margin-left: 50%;
  text-align:left;
  white-space: pre-wrap;
  width: 400px;
    height: 400px;
  color: #003f63;
  font-style: bold;
  border-top-left-radius: 100%;
  background-color: #ff9aa2;

}
.fon{
  padding: 10px 5px;
  margin-left: -10%;
  margin-right: 10%;
  /* margin-bottom: 50%; */
  border:1px solid;
  
}
#one{
  font-size: 30px;
  font-weight: 1000;
}
#second{
  font-weight: 500;
  font-size: 30px;
}
#quiz{
  margin: auto;
}
#radio{
  height: 40px;
}
  .question{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    font-size: 46px;
    width: 50%;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
    font-style: bold;
    padding: 15px 25px;
    background-color: #ff9aa2;
    color: white;
    border-top-right-radius: 50px;
	  border-bottom-left-radius:  50px ;
  }
  .answers {
    align-items: center;
    justify-content: center;
    color:#005A8D;
    margin-top: 1.2%;
    margin: auto;
    width: 47%;
      display: flex;
      flex-direction: column;
    
      font-size: 28px;
  }

  .quizcontainer{
    border: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  #submit{
    border:1px solid #ff9aa2;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 20px;
    color: #ff9aa2;
    background-color: white;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #ff9aa2;
    color: white;
  }
  #results{
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 25px 35px;
    border: 1px solid;
    font-size: 36px;
    margin-top: 50px;
    margin: auto;
    color: white;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
    background: #ff9aa2;
background: linear-gradient(90deg, #ff9aa2 0%, #005A8D 100%);
  }
  .footer{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
  }
  .p1{
    font-weight: 700;
  }
  .end{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .icons{
    display: flex;
    justify-content: center;
  }
  .t2{
    text-align: center;
    margin-top: 10px;
  }
  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
 
@media screen and (max-width: 1300px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .header{
    width: 500PX;
    height: 500PX;
  }
  .fon{
    padding: 5px 10px;
  }
  #one{
    font-size: 25px;
    font-weight: 1000;
  }
  #second{
    font-weight: 500;
    font-size: 20px;
  }

 
}
@media screen and (max-width: 1000px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .header{
    width: 350PX;
    height: 300PX;
  }
  .fon{
    padding: 5px 10px;
  }
  #one{
    font-size: 20px;
    font-weight: 1000;
  }
  #second{
    font-weight: 500;
    font-size: 15px;
  }
  .question{
    font-size: 30px;
   
  }
  .answers{
    font-size: 15px;
   
  }
  #results{
   
  }
  
}
@media screen and (max-width: 500px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .menu1 a{
    font-size: 10px;
    margin: 10px; 
    padding: 0;
  }
  .logoS img{
    left: 40%;
    top: 50%;
    width: 150px;
  }
  .icons1{
    margin: 10px;
  }
  .icons1 img{
    width: 25px; 
    height: 25px; 
    margin-left: 10px; 
    margin-top: 20px;
  } 
  .icons img{
    width: 25px;
    margin: 10px;
   }
   .t2{
    font-size: 12px;
   }
  .back{
    background-size: 0%;
  }
  .header{
    width: 250PX;
    height: 250PX;
  }
  .fon{
    padding: 0px 0px;
  }
  #one{
    font-size: 20px;
    font-weight: 1000;
  }
  #second{
    font-weight: 500;
    font-size: 15px;
  }
  .question{
    font-size: 20px;
   
  }
  .answers{
    font-size: 10px;
   
  }
  #results{
   
    font-size: 25px;
    
  }
  #submit{
    font-size: 10px;
  }
  
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}

/* code that is here will apply to any screen size */