*{
  margin: 0;
}
body{
    margin: 0 auto;
    background-color: #FFF5FD;
}
.menuM{
  position: relative;
  width:100%;
  top: 0%;
  background-color: white;
}
.discount{
  width: 100%;
  background-color: #ff9aa2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.menu{
  display: flex;
  justify-content: flex-end;
 
}
.logoS img{
  width: 200px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -25px 0 0 -25px
  
}

.icons1{
  margin: 20px;
}
.icons1 img{
  width: 30px; 
  height: 30px; 
  margin-left: 10px; 
  margin-top: 20px;
} 
.menu1{
  margin-top: 15px;
  padding-bottom: 15px;
}
.menu1 ul{
  align-items: center;
  display: flex;
  justify-content:center;
  list-style-type: none;
  padding: 0;
}

.menu1 a{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.menu1 a:hover{
  color: #ff9aa2;
}


.first{
 
 height: 500px; 
 position: relative;

}
.first img{
  display: block;
  position: absolute;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
#one1{
 
    font-size: 72px;
    font-style: bold;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
}
#one2{
  padding: 15px 25px;
  width: 200px;
  background-color: rgba(255, 255, 0, 0.5);
  font-size: 18px;
  cursor: pointer;
  outline: none;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 20px;
	border-bottom-left-radius:  20px ;

}
#one2:hover {background-color: rgba(253,202,198,0.8);;
 }
.one{
    color: white;
    /* position: absolute; */
    font-size: 28px;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    

}
#png{
  width: 100px;

}
.second{
  transform: translate(10%,10%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#two1{
  font-size: 40px;
  font-style: bold;
}
#two2{
  font-size: 50px;
  font-style: bold;
}
#two3{
  margin-top: 20px;
  font-size: 28px;
 white-space: pre-wrap;
 line-height: normal;
}
.button {
  transform: translate(-2%,50%);
  border-radius: 4px;
  background-color: #ffb1b8;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 20px;
	border-bottom-left-radius:  20px ;
  text-align: center;
  padding: 15px 25px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.collections{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
 
}

.card{
  border-top-left-radius: 135px;
  border-top-right-radius: 135px;
  position: relative; 
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);  
}
.round{
  border-top-left-radius: 135px;
  border-top-right-radius: 135px;
  
}
.card .img-top {
  display: none;
  border-top-left-radius: 135px;
  border-top-right-radius: 135px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card:hover .img-top {
  display: block;
}

img {
  vertical-align: middle;
}
.container {
  color: white;
  background-color:  #ff9aa2;
  margin: 0;
  padding: 30px 36px;
  text-align: center;
  font-size: 28px;
  font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
    font-style: bold;
   
}


.third{
  transform: translate(0%,30%);
  display: inline-flex;
  width: 100%;
  
}
#w{
 
  width: 50%;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
}
.third1{
  font-size: 72px;
  width: 100%;
  transform: translate(0%, 300%);
}
.third2{
  color: white;
  background-color:  #ff9aa2;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.third4{
  max-height: 1000px;
  border-top: 5px solid rgba(255, 255, 0, 0.7);
  border-bottom: 5px solid rgba(255, 255, 0, 0.7);
  border-top-width:25%;
  display: flex;
  flex-direction: column;
}
.third4 h1{
  font-size: 36px;
}
.third4 p{
  font-size: 28px;
}
#main{
  font-size: 36px;
}
.third3{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
 
}
#png{
  transform: translate(-50%,0%);
  right: 50%;
 
}
.check{
  display: flex;
  flex-direction: column;
}


#im{
  position: absolute;
  transform: translate(130%,70%);
  height: 800px;
}

.png{
  position:static;
margin-top: 300px;
margin-left: 300px;
  width:400px;height: 400px;
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.block {
color: white;
text-align: center;
position: relative;
margin: 400px auto 0;
width: 800px;
height: 400px;
background-color:#ff9aa2 ;
}
#ch{
  font-size: 25px;
}

.one2{
  margin-top: 10px;
}
#take{
  text-align: center;
  margin-bottom: 5px;
  font-size: 45px;
  font-family: 'Corinthia', cursive;
  font-family: 'Dancing Script', cursive;
}
.block:before, .block:after {
content: '';
position: absolute;
left: -2px;
top: -2px;
background: linear-gradient(45deg, #ff9aa2, #ffb7b2, #ffdac1,
#e2f0cb, #b5ead7, #ff9aa2, 
#ffb7b2, #ffdac1,
#e2f0cb, #b5ead7);
background-size: 400%;
width: calc(100% + 4px);
height: calc(100% + 4px);
z-index: -1;
animation: steam 20s linear infinite;
}

@keyframes steam {
0% {
 background-position: 0 0;
}
50% {
 background-position: 400% 0;
}
100% {
 background-position: 0 0;
}
}

.block:after {
filter: blur(100px);
}
.footer{
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 12px;
}
.p1{
  font-weight: 700;
}
.end{
  margin-top: 30px;
  margin-bottom: 30px;
}
.icons{
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}
.icons img{
  width: 40px;
}
.t2{
  text-align: center;
  margin-top: 10px;
}


@media screen and (max-width: 1000px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  


 
.one{
  width: 50%;
  font-size: 25px;
}
#one1{
  font-size: 60px;
}

.third1{
 
  width: 100%;
  transform: translate(0%, 100%);
}
.third4{
  max-height: 500px;
  border-top: 5px solid rgba(255, 255, 0, 0.7);
  border-bottom: 5px solid rgba(255, 255, 0, 0.7);
  margin-left: -30px;
 
}
.third4 h1{
  font-size: 26px;
}
.third4 p{
  font-size: 20px;
}
#main{
  font-size: 26px;
}
.third3{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.block {

  position: relative;
  margin: 500px auto 0;
  width: 500px;
  height: 250px;
  }
  #ch{
    font-size: 15px;
  }
 
 
 
}
@media screen and (max-width: 800px) {
  /* comes into effect for screens less than or equal to 320 pixels */

  .holiday h1 {
    margin-left: 470px;
    margin-top: -200px;
    letter-spacing: 10px;
    font-size: 60px;
    color: white;
    font-family: 'Spartan', sans-serif;
}


    .one{
      width: 50%;
      font-size: 20px;
      margin-left: 50px;
    }
    #one1{
      margin-left: 50px;
      font-size: 50px;
    }
    
    #ch{
      
      font-size: 12px;
    }
    #take{
      font-size: 25px;
    }
    .third{
      margin-top: 80px;
    }
    .footer{
      display: flex;
      justify-content: space-between;
      
      margin-left: 100px;
      margin-right: 100px;
      font-size: 10px;
      flex-wrap: wrap;
      
    }
    .c1{
      margin: 10px;
    }
.block {

position: relative;
margin-top: 300px;
width: 400px;
height: 200px;
}
#two1{
  font-size: 30px;
  font-style: bold;
}
#two2{
  font-size: 40px;
  font-style: bold;
}
#two3{
  margin-top: 20px;
  font-size: 20px;
 white-space: pre-wrap;
 line-height: normal;
}

.menu1 a{
  font-size: 10px;
  margin: 10px; 
  padding: 0;
}
.first{
  height: 500px;
}
.card{
  margin: 15px;
}
  
}
@media screen and (max-width: 500px) {
  /* comes into effect for screens less than or equal to 320 pixels */

  .discount{
    font-size: 12px;
    padding: 8px;
  }
    .one{
      width: 100%;
      position: relative;
      font-size: 15px;
     margin: auto;
    }
    #one1{
      margin: 0;
      font-size: 45px;
      
    }
    #two1{
     
      font-size: 25px;
      
    }
    #two2{
      font-size: 27px;
    }
    #two3{
      font-size: 15px;
    }
    #one2{
      width: 150px;
      font-size: 12px;
      height: 50px;
    
    }
    .third4 p{
      font-size: 15px;
    }
    #main{
      font-size: 20px;
    }
    .logoS img{
      left: 40%;
      top: 45%;
      width: 150px;
    }
    .icons1{
      margin: 10px;
    }
    .icons1 img{
      width: 25px; 
      height: 25px; 
      margin-left: 10px; 
      margin-top: 20px;
    } 
    .one{
     
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);
      
  
  }
  .first{
    height: 350px;
  }
  .third1{
    font-size: 25px;
  }
   #png{
    width: 70px;
   }
   .icons img{
    width: 25px;
   }
   .t2{
    font-size: 12px;
   }
  
}


